{% extends 'hod_templates/base_template.html' %}
{% block page_title %}Edit Student | Student Name: {{username}} | #ID: {{id}}{% endblock page_title %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- /.card-header -->
                    <!-- form start -->
                   {% url 'edit_student_save' as edit_student_save%}
                    {% include 'hod_templates/form_template.html' with messages=messages form=form action_path=edit_student_save button_text='Update Student'%}
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock main_content %}