{% extends 'registration/base.html'%}
{% block side_content %}
<div class="card-body login-card-body">
      <p class="login-box-msg">Password Reset</p>
      <form  method="post">
        {% csrf_token %}
          {% for field in form %}
          {{field.errors}}
          {{field.label_tag}}
          <input type="text" id="{{field.id_for_label}}" name="{{field.html_name}}">
          {% endfor %}
         <button type="submit" class="btn btn-success btn-block">Submit</button>
      </form>
      <!-- /.social-auth-links -->
</div>
{% endblock side_content %}